<p id="notice"><%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing Quizzes</span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <% @quizzes.each do |quiz| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
              <p><%= quiz.code %></p>
              <p><%= quiz.name %></p>
              <p><%= quiz.description %></p>
              <p><%= quiz.displaydescription %></p>
              <p><%= quiz.open %></p>
              <p><%= quiz.close %></p>
              <p><%= quiz.timelimit %></p>
              <p><%= quiz.whentimeexpires %></p>
              <p><%= quiz.submissiongraceperiod %></p>
              <p><%= quiz.gradecategory %></p>
              <p><%= quiz.attemptsallowed %></p>
              <p><%= quiz.gradingmethod %></p>
      
      <%= link_to 'Show', quiz %>
      <%= link_to 'Edit', edit_quiz_path(quiz) %>
      <%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Quiz', new_quiz_path %>
