<p id="notice"><%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing Issues</span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <% @issues.each do |issue| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
              <p><%= issue.code %></p>
              <p><%= issue.project %></p>
              <p><%= issue.issuetype %></p>
              <p><%= issue.summary %></p>
              <p><%= issue.storypoints %></p>
              <p><%= issue.priority %></p>
              <p><%= issue.duedate %></p>
              <p><%= issue.components %></p>
              <p><%= issue.affectsversions %></p>
              <p><%= issue.fixversions %></p>
              <p><%= issue.assignee %></p>
              <p><%= issue.environment %></p>
              <p><%= issue.description %></p>
              <p><%= issue.labels %></p>
              <p><%= issue.epic %></p>
              <p><%= issue.sprint %></p>
      
      <%= link_to 'Show', issue %>
      <%= link_to 'Edit', edit_issue_path(issue) %>
      <%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Issue', new_issue_path %>
