<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<table>
  <thead>
    <tr>
      <th>
        <div>
          Code
        </div>
      </th>
      <th>
        <div>
          Project
        </div>
      </th>
      <th>
        <div>
          Issuetype
        </div>
      </th>
      <th>
        <div>
          Summary
        </div>
      </th>
      <th>
        <div class="w3-center">
          Storypoints
        </div>
      </th>
      <th>
        <div>
          Priority
        </div>
      </th>
      <th>
        <div class="w3-center">
          Duedate
        </div>
      </th>
      <th>
        <div>
          Components
        </div>
      </th>
      <th>
        <div>
          Affectsversions
        </div>
      </th>
      <th>
        <div>
          Fixversions
        </div>
      </th>
      <th>
        <div>
          Assignee
        </div>
      </th>
      <th>
        <div>
          Environment
        </div>
      </th>
      <th>
        <div>
          Description
        </div>
      </th>
      <th>
        <div>
          Labels
        </div>
      </th>
      <th>
        <div>
          Epic
        </div>
      </th>
      <th>
        <div>
          Sprint
        </div>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td>
          <div>
            <%= issue.code %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.project %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.issuetype %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.summary %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= issue.storypoints %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.priority %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= issue.duedate %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.components %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.affectsversions %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.fixversions %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.assignee %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.environment %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.description %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.labels %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.epic %>
          </div>
        </td>
        <td>
          <div>
            <%= issue.sprint %>
          </div>
        </td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
