<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<table>
  <thead>
    <tr>
      <th class="w3-center">Code</th>
      <th class="w3-center">Project</th>
      <th class="w3-center">Issuetype</th>
      <th class="w3-center">Summary</th>
      <th class="w3-center">Storypoints</th>
      <th class="w3-center">Priority</th>
      <th class="w3-center">Duedate</th>
      <th class="w3-center">Components</th>
      <th class="w3-center">Affectsversions</th>
      <th class="w3-center">Fixversions</th>
      <th class="w3-center">Assignee</th>
      <th class="w3-center">Environment</th>
      <th class="w3-center">Description</th>
      <th class="w3-center">Labels</th>
      <th class="w3-center">Epic</th>
      <th class="w3-center">Sprint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td class="w3-center"><%= issue.code %></td>
        <td class="w3-center"><%= issue.project %></td>
        <td class="w3-center"><%= issue.issuetype %></td>
        <td class="w3-center"><%= issue.summary %></td>
        <td class="w3-center"><%= issue.storypoints %></td>
        <td class="w3-center"><%= issue.priority %></td>
        <td class="w3-center"><%= issue.duedate %></td>
        <td class="w3-center"><%= issue.components %></td>
        <td class="w3-center"><%= issue.affectsversions %></td>
        <td class="w3-center"><%= issue.fixversions %></td>
        <td class="w3-center"><%= issue.assignee %></td>
        <td class="w3-center"><%= issue.environment %></td>
        <td class="w3-center"><%= issue.description %></td>
        <td class="w3-center"><%= issue.labels %></td>
        <td class="w3-center"><%= issue.epic %></td>
        <td class="w3-center"><%= issue.sprint %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
