<p id="notice"><%= notice %></p>

<h1>Listing Salesforceusers</h1>

<table>
  <thead>
    <tr>
      <th>
        <div>
          Name
        </div>
      </th>
      <th>
        <div>
          Alias
        </div>
      </th>
      <th>
        <div>
          Email
        </div>
      </th>
      <th>
        <div>
          Username
        </div>
      </th>
      <th>
        <div>
          Communitynickname
        </div>
      </th>
      <th>
        <div>
          Title
        </div>
      </th>
      <th>
        <div>
          Company
        </div>
      </th>
      <th>
        <div>
          Department
        </div>
      </th>
      <th>
        <div>
          Division
        </div>
      </th>
      <th>
        <div>
          Address
        </div>
      </th>
      <th>
        <div>
          Timezone
        </div>
      </th>
      <th>
        <div>
          Locale
        </div>
      </th>
      <th>
        <div>
          Language
        </div>
      </th>
      <th>
        <div>
          Delegatedapprover
        </div>
      </th>
      <th>
        <div>
          Manager
        </div>
      </th>
      <th>
        <div>
          Role
        </div>
      </th>
      <th>
        <div>
          Userlicense
        </div>
      </th>
      <th>
        <div>
          Profile
        </div>
      </th>
      <th>
        <div>
          Active
        </div>
      </th>
      <th>
        <div>
          Marketinguser
        </div>
      </th>
      <th>
        <div>
          Offlineuser
        </div>
      </th>
      <th>
        <div>
          Knowledgeuser
        </div>
      </th>
      <th>
        <div>
          Forcecomflowuser
        </div>
      </th>
      <th>
        <div>
          Serviceclouduser
        </div>
      </th>
      <th>
        <div>
          Sitecomcontributoruser
        </div>
      </th>
      <th>
        <div>
          Sitecompublisheruser
        </div>
      </th>
      <th>
        <div>
          Mobileuser
        </div>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salesforceusers.each do |salesforceuser| %>
      <tr>
        <td>
          <div>
            <%= salesforceuser.name %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.alias %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.email %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.username %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.communitynickname %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.title %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.company %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.department %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.division %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.address %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.timezone %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.locale %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.language %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.delegatedapprover %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.manager %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.role %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.userlicense %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.profile %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.active %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.marketinguser %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.offlineuser %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.knowledgeuser %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.forcecomflowuser %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.serviceclouduser %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.sitecomcontributoruser %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.sitecompublisheruser %>
          </div>
        </td>
        <td>
          <div>
            <%= salesforceuser.mobileuser %>
          </div>
        </td>
        <td><%= link_to 'Show', salesforceuser %></td>
        <td><%= link_to 'Edit', edit_salesforceuser_path(salesforceuser) %></td>
        <td><%= link_to 'Destroy', salesforceuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salesforceuser', new_salesforceuser_path %>
