<p id="notice"><%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing Salesforceusers</span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <% @salesforceusers.each do |salesforceuser| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
              <p><%= salesforceuser.name %></p>
              <p><%= salesforceuser.alias %></p>
              <p><%= salesforceuser.email %></p>
              <p><%= salesforceuser.username %></p>
              <p><%= salesforceuser.communitynickname %></p>
              <p><%= salesforceuser.title %></p>
              <p><%= salesforceuser.company %></p>
              <p><%= salesforceuser.department %></p>
              <p><%= salesforceuser.division %></p>
              <p><%= salesforceuser.address %></p>
              <p><%= salesforceuser.timezone %></p>
              <p><%= salesforceuser.locale %></p>
              <p><%= salesforceuser.language %></p>
              <p><%= salesforceuser.delegatedapprover %></p>
              <p><%= salesforceuser.manager %></p>
              <p><%= salesforceuser.role %></p>
              <p><%= salesforceuser.userlicense %></p>
              <p><%= salesforceuser.profile %></p>
              <p><%= salesforceuser.active %></p>
              <p><%= salesforceuser.marketinguser %></p>
              <p><%= salesforceuser.offlineuser %></p>
              <p><%= salesforceuser.knowledgeuser %></p>
              <p><%= salesforceuser.forcecomflowuser %></p>
              <p><%= salesforceuser.serviceclouduser %></p>
              <p><%= salesforceuser.sitecomcontributoruser %></p>
              <p><%= salesforceuser.sitecompublisheruser %></p>
              <p><%= salesforceuser.mobileuser %></p>
      
      <%= link_to 'Show', salesforceuser %>
      <%= link_to 'Edit', edit_salesforceuser_path(salesforceuser) %>
      <%= link_to 'Destroy', salesforceuser, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Salesforceuser', new_salesforceuser_path %>
