<p id="notice"><%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing Leads</span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <% @leads.each do |lead| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
              <p><%= lead.code %></p>
              <p><%= lead.owner %></p>
              <p><%= lead.firstname %></p>
              <p><%= lead.lastname %></p>
              <p><%= lead.company %></p>
              <p><%= lead.title %></p>
              <p><%= lead.status %></p>
              <p><%= lead.phone %></p>
              <p><%= lead.email %></p>
              <p><%= lead.street %></p>
              <p><%= lead.city %></p>
              <p><%= lead.state %></p>
              <p><%= lead.zipcode %></p>
              <p><%= lead.county %></p>
              <p><%= lead.website %></p>
              <p><%= lead.numberofemployees %></p>
              <p><%= lead.annualrevenue %></p>
              <p><%= lead.source %></p>
              <p><%= lead.industry %></p>
              <p><%= lead.description %></p>
      
      <%= link_to 'Show', lead %>
      <%= link_to 'Edit', edit_lead_path(lead) %>
      <%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Lead', new_lead_path %>
