<p id="notice"><%= notice %></p>

<h1>Listing Leads</h1>

<table>
  <thead>
    <tr>
      <th>
        <div>
          Code
        </div>
      </th>
      <th>
        <div>
          Owner
        </div>
      </th>
      <th>
        <div>
          Firstname
        </div>
      </th>
      <th>
        <div>
          Lastname
        </div>
      </th>
      <th>
        <div>
          Company
        </div>
      </th>
      <th>
        <div>
          Title
        </div>
      </th>
      <th>
        <div>
          Status
        </div>
      </th>
      <th>
        <div>
          Phone
        </div>
      </th>
      <th>
        <div>
          Email
        </div>
      </th>
      <th>
        <div>
          Street
        </div>
      </th>
      <th>
        <div>
          City
        </div>
      </th>
      <th>
        <div>
          State
        </div>
      </th>
      <th>
        <div>
          Zipcode
        </div>
      </th>
      <th>
        <div>
          County
        </div>
      </th>
      <th>
        <div>
          Website
        </div>
      </th>
      <th>
        <div class="w3-center">
          Numberofemployees
        </div>
      </th>
      <th>
        <div class="w3-center">
          Annualrevenue
        </div>
      </th>
      <th>
        <div>
          Source
        </div>
      </th>
      <th>
        <div>
          Industry
        </div>
      </th>
      <th>
        <div>
          Description
        </div>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td>
          <div>
            <%= lead.code %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.owner %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.firstname %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.lastname %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.company %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.title %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.status %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.phone %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.email %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.street %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.city %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.state %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.zipcode %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.county %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.website %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= lead.numberofemployees %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= lead.annualrevenue %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.source %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.industry %>
          </div>
        </td>
        <td>
          <div>
            <%= lead.description %>
          </div>
        </td>
        <td><%= link_to 'Show', lead %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_lead_path %>
