<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>
        <div>
          Name
        </div>
      </th>
      <th>
        <div>
          Description
        </div>
      </th>
      <th>
        <div>
          Identifier
        </div>
      </th>
      <th>
        <div>
          Homepage
        </div>
      </th>
      <th>
        <div>
          Public
        </div>
      </th>
      <th>
        <div>
          Subprojectof
        </div>
      </th>
      <th>
        <div>
          Bugtracker
        </div>
      </th>
      <th>
        <div>
          Featuretracker
        </div>
      </th>
      <th>
        <div>
          Supporttracker
        </div>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <div>
            <%= project.name %>
          </div>
        </td>
        <td>
          <div>
            <%= project.description %>
          </div>
        </td>
        <td>
          <div>
            <%= project.identifier %>
          </div>
        </td>
        <td>
          <div>
            <%= project.homepage %>
          </div>
        </td>
        <td>
          <div>
            <%= project.public %>
          </div>
        </td>
        <td>
          <div>
            <%= project.subprojectof %>
          </div>
        </td>
        <td>
          <div>
            <%= project.bugtracker %>
          </div>
        </td>
        <td>
          <div>
            <%= project.featuretracker %>
          </div>
        </td>
        <td>
          <div>
            <%= project.supporttracker %>
          </div>
        </td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
