<p id="notice"><%= notice %></p>

<h1>Listing Bugzillausers</h1>

<table>
  <thead>
    <tr>
      <th>
        <div>
          Loginname
        </div>
      </th>
      <th>
        <div>
          Realname
        </div>
      </th>
      <th>
        <div>
          Password
        </div>
      </th>
      <th>
        <div>
          Bugmaildisabled
        </div>
      </th>
      <th>
        <div>
          Disabletext
        </div>
      </th>
      <th>
        <div>
          Adminpermission
        </div>
      </th>
      <th>
        <div>
          Creategroupspermission
        </div>
      </th>
      <th>
        <div>
          Edituserspermission
        </div>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugzillausers.each do |bugzillauser| %>
      <tr>
        <td>
          <div>
            <%= bugzillauser.loginname %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillauser.realname %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillauser.password %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillauser.bugmaildisabled %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillauser.disabletext %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillauser.adminpermission %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillauser.creategroupspermission %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillauser.edituserspermission %>
          </div>
        </td>
        <td><%= link_to 'Show', bugzillauser %></td>
        <td><%= link_to 'Edit', edit_bugzillauser_path(bugzillauser) %></td>
        <td><%= link_to 'Destroy', bugzillauser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bugzillauser', new_bugzillauser_path %>
