<p id="notice"><%%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing <%= plural_table_name.titleize %></span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
      <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <p><%%= <%= singular_table_name %>.<%= attribute.name %> %></p>
      <% end -%>

      <%%= link_to 'Show', <%= singular_table_name %> %>
      <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
      <%%= link_to 'Destroy', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <%% end %>
</div>

<br>

<%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path %>
