<p id="notice"><%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing Courses</span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <% @courses.each do |course| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
              <p><%= course.code %></p>
              <p><%= course.fullname %></p>
              <p><%= course.shortname %></p>
              <p><%= course.courseidnumber %></p>
              <p><%= course.summary %></p>
              <p><%= course.format %></p>
              <p><%= course.numberofweekstopics %></p>
              <p><%= course.start %></p>
              <p><%= course.hiddensections %></p>
              <p><%= course.newsitemstoshow %></p>
              <p><%= course.showgrades %></p>
              <p><%= course.showactivityreports %></p>
              <p><%= course.maxuploadsize %></p>
              <p><%= course.defaultroles %></p>
      
      <%= link_to 'Show', course %>
      <%= link_to 'Edit', edit_course_path(course) %>
      <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Course', new_course_path %>
