<p id="notice"><%= notice %></p>

<h1>Listing Bugs</h1>

<table>
  <thead>
    <tr>
      <th>
        <div>
          Code
        </div>
      </th>
      <th>
        <div>
          Product
        </div>
      </th>
      <th>
        <div>
          Component
        </div>
      </th>
      <th>
        <div>
          Version
        </div>
      </th>
      <th>
        <div>
          Summary
        </div>
      </th>
      <th>
        <div>
          Description
        </div>
      </th>
      <th>
        <div>
          Hardware
        </div>
      </th>
      <th>
        <div class="w3-center">
          Importance
        </div>
      </th>
      <th>
        <div>
          Targetmilestone
        </div>
      </th>
      <th>
        <div>
          Assignedto
        </div>
      </th>
      <th>
        <div>
          Qacontact
        </div>
      </th>
      <th>
        <div>
          Url
        </div>
      </th>
      <th>
        <div>
          Whiteboard
        </div>
      </th>
      <th>
        <div>
          Keywords
        </div>
      </th>
      <th>
        <div>
          Tags
        </div>
      </th>
      <th>
        <div>
          Dependson
        </div>
      </th>
      <th>
        <div>
          Blocks
        </div>
      </th>
      <th>
        <div>
          Origestimated
        </div>
      </th>
      <th>
        <div>
          Hoursworked
        </div>
      </th>
      <th>
        <div>
          Hoursleft
        </div>
      </th>
      <th>
        <div class="w3-center">
          Deadline
        </div>
      </th>
      <th>
        <div>
          Additionalcomments
        </div>
      </th>
      <th>
        <div>
          Status
        </div>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td>
          <div>
            <%= bug.code %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.product %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.component %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.version %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.summary %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.description %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.hardware %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= bug.importance %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.targetmilestone %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.assignedto %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.qacontact %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.url %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.whiteboard %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.keywords %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.tags %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.dependson %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.blocks %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.origestimated %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.hoursworked %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.hoursleft %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= bug.deadline %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.additionalcomments %>
          </div>
        </td>
        <td>
          <div>
            <%= bug.status %>
          </div>
        </td>
        <td><%= link_to 'Show', bug %></td>
        <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
        <td><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug', new_bug_path %>
