<p id="notice"><%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing Bugs</span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <% @bugs.each do |bug| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
              <p><%= bug.code %></p>
              <p><%= bug.product %></p>
              <p><%= bug.component %></p>
              <p><%= bug.version %></p>
              <p><%= bug.summary %></p>
              <p><%= bug.description %></p>
              <p><%= bug.hardware %></p>
              <p><%= bug.importance %></p>
              <p><%= bug.targetmilestone %></p>
              <p><%= bug.assignedto %></p>
              <p><%= bug.qacontact %></p>
              <p><%= bug.url %></p>
              <p><%= bug.whiteboard %></p>
              <p><%= bug.keywords %></p>
              <p><%= bug.tags %></p>
              <p><%= bug.dependson %></p>
              <p><%= bug.blocks %></p>
              <p><%= bug.origestimated %></p>
              <p><%= bug.hoursworked %></p>
              <p><%= bug.hoursleft %></p>
              <p><%= bug.deadline %></p>
              <p><%= bug.additionalcomments %></p>
              <p><%= bug.status %></p>
      
      <%= link_to 'Show', bug %>
      <%= link_to 'Edit', edit_bug_path(bug) %>
      <%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Bug', new_bug_path %>
