<p id="notice"><%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing Campaigns</span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <% @campaigns.each do |campaign| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
              <p><%= campaign.code %></p>
              <p><%= campaign.owner %></p>
              <p><%= campaign.name %></p>
              <p><%= campaign.active %></p>
              <p><%= campaign.type %></p>
              <p><%= campaign.status %></p>
              <p><%= campaign.start %></p>
              <p><%= campaign.end %></p>
              <p><%= campaign.expectedrevenue %></p>
              <p><%= campaign.budgetedcost %></p>
              <p><%= campaign.actualcost %></p>
              <p><%= campaign.expectedresponse %></p>
              <p><%= campaign.numsent %></p>
              <p><%= campaign.parentcampaign %></p>
      
      <%= link_to 'Show', campaign %>
      <%= link_to 'Edit', edit_campaign_path(campaign) %>
      <%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Campaign', new_campaign_path %>
