<p id="notice"><%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing Products</span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <% @products.each do |product| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
              <p><%= product.code %></p>
              <p><%= product.name %></p>
              <p><%= product.model %></p>
              <p><%= product.sku %></p>
              <p><%= product.weight %></p>
              <p><%= product.manufacturer %></p>
              <p><%= product.status %></p>
              <p><%= product.taxclass %></p>
              <p><%= product.urlkey %></p>
              <p><%= product.visibility %></p>
              <p><%= product.setproductasnewfromdate %></p>
              <p><%= product.setproductasnewtodate %></p>
              <p><%= product.countryofmanufacture %></p>
              <p><%= product.price %></p>
              <p><%= product.cost %></p>
              <p><%= product.specialprice %></p>
              <p><%= product.specialpricefromdate %></p>
              <p><%= product.specialpricetodate %></p>
              <p><%= product.applymap %></p>
              <p><%= product.displayactualprice %></p>
              <p><%= product.suggestedretailprice %></p>
              <p><%= product.metatitle %></p>
              <p><%= product.metakeywords %></p>
              <p><%= product.metadescription %></p>
              <p><%= product.shortdescription %></p>
              <p><%= product.description %></p>
              <p><%= product.indepth %></p>
              <p><%= product.dimensions %></p>
              <p><%= product.activationinformation %></p>
              <p><%= product.color %></p>
              <p><%= product.customdesign %></p>
              <p><%= product.activefrom %></p>
              <p><%= product.activeto %></p>
              <p><%= product.customlayoutupdate %></p>
              <p><%= product.displayproductoptionsin %></p>
              <p><%= product.pagelayout %></p>
              <p><%= product.enablerecurringprofile %></p>
              <p><%= product.allowgiftmessage %></p>
              <p><%= product.managestock %></p>
              <p><%= product.qty %></p>
              <p><%= product.qtyforitemsstatustobecomeoutofstock %></p>
              <p><%= product.minimumqtyallowedinshoppingcart %></p>
              <p><%= product.maximumqtyallowedinshoppingcart %></p>
              <p><%= product.qtyusesdecimals %></p>
              <p><%= product.backorders %></p>
              <p><%= product.notifyforquantitybelow %></p>
              <p><%= product.enableqtyincrements %></p>
              <p><%= product.stockavailability %></p>
              <p><%= product.tags %></p>
      
      <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
