<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>
        <div>
          Code
        </div>
      </th>
      <th>
        <div>
          Name
        </div>
      </th>
      <th>
        <div>
          Model
        </div>
      </th>
      <th>
        <div>
          Sku
        </div>
      </th>
      <th>
        <div>
          Weight
        </div>
      </th>
      <th>
        <div>
          Manufacturer
        </div>
      </th>
      <th>
        <div>
          Status
        </div>
      </th>
      <th>
        <div>
          Taxclass
        </div>
      </th>
      <th>
        <div>
          Urlkey
        </div>
      </th>
      <th>
        <div>
          Visibility
        </div>
      </th>
      <th>
        <div class="w3-center">
          Setproductasnewfromdate
        </div>
      </th>
      <th>
        <div class="w3-center">
          Setproductasnewtodate
        </div>
      </th>
      <th>
        <div>
          Countryofmanufacture
        </div>
      </th>
      <th>
        <div>
          Price
        </div>
      </th>
      <th>
        <div>
          Cost
        </div>
      </th>
      <th>
        <div>
          Specialprice
        </div>
      </th>
      <th>
        <div class="w3-center">
          Specialpricefromdate
        </div>
      </th>
      <th>
        <div class="w3-center">
          Specialpricetodate
        </div>
      </th>
      <th>
        <div>
          Applymap
        </div>
      </th>
      <th>
        <div>
          Displayactualprice
        </div>
      </th>
      <th>
        <div>
          Suggestedretailprice
        </div>
      </th>
      <th>
        <div>
          Metatitle
        </div>
      </th>
      <th>
        <div>
          Metakeywords
        </div>
      </th>
      <th>
        <div>
          Metadescription
        </div>
      </th>
      <th>
        <div>
          Shortdescription
        </div>
      </th>
      <th>
        <div>
          Description
        </div>
      </th>
      <th>
        <div>
          Indepth
        </div>
      </th>
      <th>
        <div>
          Dimensions
        </div>
      </th>
      <th>
        <div>
          Activationinformation
        </div>
      </th>
      <th>
        <div>
          Color
        </div>
      </th>
      <th>
        <div>
          Customdesign
        </div>
      </th>
      <th>
        <div class="w3-center">
          Activefrom
        </div>
      </th>
      <th>
        <div class="w3-center">
          Activeto
        </div>
      </th>
      <th>
        <div>
          Customlayoutupdate
        </div>
      </th>
      <th>
        <div>
          Displayproductoptionsin
        </div>
      </th>
      <th>
        <div>
          Pagelayout
        </div>
      </th>
      <th>
        <div>
          Enablerecurringprofile
        </div>
      </th>
      <th>
        <div>
          Allowgiftmessage
        </div>
      </th>
      <th>
        <div>
          Managestock
        </div>
      </th>
      <th>
        <div>
          Qty
        </div>
      </th>
      <th>
        <div>
          Qtyforitemsstatustobecomeoutofstock
        </div>
      </th>
      <th>
        <div>
          Minimumqtyallowedinshoppingcart
        </div>
      </th>
      <th>
        <div>
          Maximumqtyallowedinshoppingcart
        </div>
      </th>
      <th>
        <div>
          Qtyusesdecimals
        </div>
      </th>
      <th>
        <div>
          Backorders
        </div>
      </th>
      <th>
        <div>
          Notifyforquantitybelow
        </div>
      </th>
      <th>
        <div>
          Enableqtyincrements
        </div>
      </th>
      <th>
        <div>
          Stockavailability
        </div>
      </th>
      <th>
        <div>
          Tags
        </div>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <div>
            <%= product.code %>
          </div>
        </td>
        <td>
          <div>
            <%= product.name %>
          </div>
        </td>
        <td>
          <div>
            <%= product.model %>
          </div>
        </td>
        <td>
          <div>
            <%= product.sku %>
          </div>
        </td>
        <td>
          <div>
            <%= product.weight %>
          </div>
        </td>
        <td>
          <div>
            <%= product.manufacturer %>
          </div>
        </td>
        <td>
          <div>
            <%= product.status %>
          </div>
        </td>
        <td>
          <div>
            <%= product.taxclass %>
          </div>
        </td>
        <td>
          <div>
            <%= product.urlkey %>
          </div>
        </td>
        <td>
          <div>
            <%= product.visibility %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= product.setproductasnewfromdate %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= product.setproductasnewtodate %>
          </div>
        </td>
        <td>
          <div>
            <%= product.countryofmanufacture %>
          </div>
        </td>
        <td>
          <div>
            <%= product.price %>
          </div>
        </td>
        <td>
          <div>
            <%= product.cost %>
          </div>
        </td>
        <td>
          <div>
            <%= product.specialprice %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= product.specialpricefromdate %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= product.specialpricetodate %>
          </div>
        </td>
        <td>
          <div>
            <%= product.applymap %>
          </div>
        </td>
        <td>
          <div>
            <%= product.displayactualprice %>
          </div>
        </td>
        <td>
          <div>
            <%= product.suggestedretailprice %>
          </div>
        </td>
        <td>
          <div>
            <%= product.metatitle %>
          </div>
        </td>
        <td>
          <div>
            <%= product.metakeywords %>
          </div>
        </td>
        <td>
          <div>
            <%= product.metadescription %>
          </div>
        </td>
        <td>
          <div>
            <%= product.shortdescription %>
          </div>
        </td>
        <td>
          <div>
            <%= product.description %>
          </div>
        </td>
        <td>
          <div>
            <%= product.indepth %>
          </div>
        </td>
        <td>
          <div>
            <%= product.dimensions %>
          </div>
        </td>
        <td>
          <div>
            <%= product.activationinformation %>
          </div>
        </td>
        <td>
          <div>
            <%= product.color %>
          </div>
        </td>
        <td>
          <div>
            <%= product.customdesign %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= product.activefrom %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= product.activeto %>
          </div>
        </td>
        <td>
          <div>
            <%= product.customlayoutupdate %>
          </div>
        </td>
        <td>
          <div>
            <%= product.displayproductoptionsin %>
          </div>
        </td>
        <td>
          <div>
            <%= product.pagelayout %>
          </div>
        </td>
        <td>
          <div>
            <%= product.enablerecurringprofile %>
          </div>
        </td>
        <td>
          <div>
            <%= product.allowgiftmessage %>
          </div>
        </td>
        <td>
          <div>
            <%= product.managestock %>
          </div>
        </td>
        <td>
          <div>
            <%= product.qty %>
          </div>
        </td>
        <td>
          <div>
            <%= product.qtyforitemsstatustobecomeoutofstock %>
          </div>
        </td>
        <td>
          <div>
            <%= product.minimumqtyallowedinshoppingcart %>
          </div>
        </td>
        <td>
          <div>
            <%= product.maximumqtyallowedinshoppingcart %>
          </div>
        </td>
        <td>
          <div>
            <%= product.qtyusesdecimals %>
          </div>
        </td>
        <td>
          <div>
            <%= product.backorders %>
          </div>
        </td>
        <td>
          <div>
            <%= product.notifyforquantitybelow %>
          </div>
        </td>
        <td>
          <div>
            <%= product.enableqtyincrements %>
          </div>
        </td>
        <td>
          <div>
            <%= product.stockavailability %>
          </div>
        </td>
        <td>
          <div>
            <%= product.tags %>
          </div>
        </td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
