<p id="notice"><%= notice %></p>

<h1>Listing Bugzillaproducts</h1>

<table>
  <thead>
    <tr>
      <th>
        <div>
          Code
        </div>
      </th>
      <th>
        <div>
          Product
        </div>
      </th>
      <th>
        <div>
          Description
        </div>
      </th>
      <th>
        <div>
          Openforbugentry
        </div>
      </th>
      <th>
        <div>
          Enableunconfirmedstatus
        </div>
      </th>
      <th>
        <div class="w3-center">
          Maxvotesperperson
        </div>
      </th>
      <th>
        <div class="w3-center">
          Maxvotespersonperbug
        </div>
      </th>
      <th>
        <div class="w3-center">
          Confirmbugsvotes
        </div>
      </th>
      <th>
        <div>
          Version
        </div>
      </th>
      <th>
        <div>
          Createchartdatasets
        </div>
      </th>
      <th>
        <div>
          Component
        </div>
      </th>
      <th>
        <div>
          Componentdescription
        </div>
      </th>
      <th>
        <div>
          Defaultassignee
        </div>
      </th>
      <th>
        <div>
          Defaultcclist
        </div>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugzillaproducts.each do |bugzillaproduct| %>
      <tr>
        <td>
          <div>
            <%= bugzillaproduct.code %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.product %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.description %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.openforbugentry %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.enableunconfirmedstatus %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= bugzillaproduct.maxvotesperperson %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= bugzillaproduct.maxvotespersonperbug %>
          </div>
        </td>
        <td>
          <div class="w3-center">
            <%= bugzillaproduct.confirmbugsvotes %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.version %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.createchartdatasets %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.component %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.componentdescription %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.defaultassignee %>
          </div>
        </td>
        <td>
          <div>
            <%= bugzillaproduct.defaultcclist %>
          </div>
        </td>
        <td><%= link_to 'Show', bugzillaproduct %></td>
        <td><%= link_to 'Edit', edit_bugzillaproduct_path(bugzillaproduct) %></td>
        <td><%= link_to 'Destroy', bugzillaproduct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bugzillaproduct', new_bugzillaproduct_path %>
