<p id="notice"><%= notice %></p>

<div class="w3-bar w3-large w3-theme-d4">
  <a href="#" class="w3-bar-item w3-button">
    <i class="fa fa-bars"></i>
  </a>

  <span class="w3-bar-item">Listing Bugzillaproducts</span>

  <a href="#" class="w3-bar-item w3-button w3-right">
    <i class="fa fa-search"></i>
  </a>
</div>

<div class="w3-container w3-content">
  <% @bugzillaproducts.each do |bugzillaproduct| %>
    <div class="w3-panel w3-white w3-card-2 w3-display-container">
              <p><%= bugzillaproduct.code %></p>
              <p><%= bugzillaproduct.product %></p>
              <p><%= bugzillaproduct.description %></p>
              <p><%= bugzillaproduct.openforbugentry %></p>
              <p><%= bugzillaproduct.enableunconfirmedstatus %></p>
              <p><%= bugzillaproduct.maxvotesperperson %></p>
              <p><%= bugzillaproduct.maxvotespersonperbug %></p>
              <p><%= bugzillaproduct.confirmbugsvotes %></p>
              <p><%= bugzillaproduct.version %></p>
              <p><%= bugzillaproduct.createchartdatasets %></p>
              <p><%= bugzillaproduct.component %></p>
              <p><%= bugzillaproduct.componentdescription %></p>
              <p><%= bugzillaproduct.defaultassignee %></p>
              <p><%= bugzillaproduct.defaultcclist %></p>
      
      <%= link_to 'Show', bugzillaproduct %>
      <%= link_to 'Edit', edit_bugzillaproduct_path(bugzillaproduct) %>
      <%= link_to 'Destroy', bugzillaproduct, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Bugzillaproduct', new_bugzillaproduct_path %>
